@import './variables';
#ct_cm__smv2{
    //nav
    #ct_cm__anchors{
        
    }
    //texts
    .ct_cm__text__container{
        .ct_cm__title{
            font-family: 'Acta Headline';
        }
        .ct_cm__subtitle{
            font-family: "Helvetica Neue";
        }
        .ct_cm__cta{
            font-family: "Helvetica Neue";
        }
    }
    // products
    .ct_cm__prods__container{
        .ct_cm__prod__card{
            .ct_cm__name{
                font-family: "Oswald" !important;

            }
           
            .ct_cm__img__container{
              
            }
        }
    }

    //video
    #ct_cm__videos__controls{
        position: absolute;
        z-index: 10;
        bottom: 24px;
        right: 24px;
        display: flex;
        gap: 8px;
       
        @media(max-width:$mob-max){
            bottom: unset;
            top: 52px;
            right: unset;
            left: 16px;
        }
        button{
            background-color: transparent;
            border: none;
            background-color: rgba(34,34,34,.4)!important;
            border-radius: 50px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            @media(max-width:$tab-max){
                width: 40px;
                height: 40px;
                padding: 8px;
            }
            @media(min-width:$desk-min){
                &:hover,&:focus{
                    background-color: rgba(113, 112, 112, 0.4)!important;
                }
                
            }
            @media(max-width:$mob-max){
                &:active{
                    background-color: rgba(113, 112, 112, 0.4)!important;
                }
            }
            svg{
                fill: currentColor;
                color: #fff;
                width: 100%;
                height: 100%;
              
            }
            &#ct_cm__togglePlay{
                #smv2_play_icon{
                    display: block;
                }
                #smv2_pause_icon{
                     display: none;
                }
                &.ct_cm__playing{
                    #smv2_play_icon{
                        display: none;
                    }
                    #smv2_pause_icon{
                         display: block;
                    }
                }
            }
            &#ct_cm__toggleVolume{
                #smv2_volume_off_icon{
                    display: none;
                }
                #smv2_volume_on_icon{
                     display: block;
                }
                &.ct_cm__muted{
                    #smv2_volume_off_icon{
                        display: block;
                    }
                    #smv2_volume_on_icon{
                         display: none;
                    }
                }
            }
        }
    }
}