#ct_cm__structure_img__container{
  position: relative;
  width: 100%;
  height: auto;

  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    animation: loading 1.6s linear infinite forwards;
    transform: translateX(-100%);
    background: linear-gradient(90deg, #eeeeee00 0, #eeeeee4f 20%, #eeeeee85 60%);
  }
  @keyframes loading {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(100%);
    }
  }
  #ct_cm__structure_img{
    width: 100%;
    display: block;
  }

}

@import '../components/video';
@import '../components/text';
@import '../components/product';
#ct_cm__videos__container{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  display: contents;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    pointer-events: none;
  }
}

#ct_cm__products__container{
  --left: 40px;
  position: absolute;
  z-index: 8;
  width: calc(100% - (var(--left)*2));
  left: var(--left);
  bottom: 40px;
  @media(max-width:$tab-max){
    left: 0;
    width: 100%;
    bottom: 36px;
    height: 56px;
  }

}