doctype
!= "<html>"
head

    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    meta( name="description", content="")
    meta( name="keywords", content="")
    meta( name="robots", content="index,follow")

    title #{projectName}

    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")

    link(rel="icon" type="image/png" href="https://media.sunglasshut.com/utilities/WebEFX/RTR/rtrfav.png")
    <!-- inject:css -->
    <!-- endinject -->
    
input(type="hidden" id="ct_lang" country=country lang=lang )
!= "<body>"