      
//- if !isProd
//-     .space_top(style="width:100%;height:800px;")
if project === 'SGH_Homepage'
    include ./SGH_Homepage/main.pug
if project === 'OO_PDP'
    include ./OO_PDP/main.pug
   
//- if !isProd
//-     .space_top(style="width:100%;height:800px;")