      
//- if !isProd
//-     .space_top(style="width:100%;height:800px;")
if brand === 'SGH_Homepage'
    include ./SGH_Homepage/main.pug
   
//- if !isProd
//-     .space_top(style="width:100%;height:800px;")