.ct_cm_RTR__viewer{
    height: 100%;
    &:hover{
        cursor: grab;
        #ct_cm_RTR__viewer_cursor{
            opacity: 1;
        }
    }
    &:active{
        cursor: grabbing;
        #ct_cm_RTR__viewer_cursor{
            transition-delay:opacity .5s ;
            opacity: 0;
        }
    }
    .ct_cm_RTR__viewer_text{
        position: absolute;
        top: 32px;
        right: 40px;
        z-index: 3;
        display: flex;
        align-items: center;
        pointer-events: none;
        gap:8px;
        font-size: 14px;
        font-weight: 500;
        @media (max-width: 1024px) {
            top:unset;
            right: unset;
            bottom: 24px;
            left: 50%;
            transform: translateX(-50%);
        }
        span{
            text-transform: uppercase;
            white-space: nowrap;
        }
        img{
            width: 26px;
            height: 26px;
        }
    }
    #ct_cm_RTR__viewer_cursor{
        position: fixed;
        z-index: 10;
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s ease 0s;
        
        @media (max-width: 1024px) {
            display: none;
        }
    }
    
}